<?xml version="1.0"?>
<!--
/**
 * MyExtension_Mymodule extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       MyExtension
 * @package        MyExtension_Mymodule
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <MyExtension_Mymodule>
            <version>1.0.0</version>
        </MyExtension_Mymodule>
    </modules>
    <global>
        <resources>
            <myextension_mymodule_setup>
                <setup>
                    <module>MyExtension_Mymodule</module>
                    <class>MyExtension_Mymodule_Model_Resource_Setup</class>
                </setup>
            </myextension_mymodule_setup>
        </resources>
        <blocks>
            <myextension_mymodule>
                <class>MyExtension_Mymodule_Block</class>
            </myextension_mymodule>
        </blocks>
        <helpers>
            <myextension_mymodule>
                <class>MyExtension_Mymodule_Helper</class>
            </myextension_mymodule>
        </helpers>
        <models>
            <myextension_mymodule>
                <class>MyExtension_Mymodule_Model</class>
                <resourceModel>myextension_mymodule_resource</resourceModel>
            </myextension_mymodule>
            <myextension_mymodule_resource>
                <class>MyExtension_Mymodule_Model_Resource</class>
                <entities>
                    <articulo>
                        <table>myextension_mymodule_articulo</table>
                    </articulo>
                    <articulo_product>
                        <table>myextension_mymodule_articulo_product</table>
                    </articulo_product>
                    <articulo_category>
                        <table>myextension_mymodule_articulo_category</table>
                    </articulo_category>
                    <articulo_comment>
                        <table>myextension_mymodule_articulo_comment</table>
                    </articulo_comment>
                    <articulo_comment_store>
                        <table>myextension_mymodule_articulo_comment_store</table>
                    </articulo_comment_store>
                    <eav_attribute>
                        <table>myextension_mymodule_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </myextension_mymodule_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <myextension_mymodule>
                        <class>MyExtension_Mymodule_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </myextension_mymodule>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <myextension_mymodule>
                    <file>myextension_mymodule.xml</file>
                </myextension_mymodule>
            </updates>
        </layout>
        <translate>
            <modules>
                <MyExtension_Mymodule>
                    <files>
                        <default>MyExtension_Mymodule.csv</default>
                    </files>
                </MyExtension_Mymodule>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <myextension_mymodule_articulo_product>
                        <type>singleton</type>
                        <class>myextension_mymodule/adminhtml_observer</class>
                        <method>addProductArticuloBlock</method>
                    </myextension_mymodule_articulo_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <myextension_mymodule_articulo_category>
                        <type>singleton</type>
                        <class>myextension_mymodule/adminhtml_observer</class>
                        <method>addCategoryArticuloBlock</method>
                    </myextension_mymodule_articulo_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_product_save_after>
                <observers>
                    <myextension_mymodule_articulo_product>
                        <type>singleton</type>
                        <class>myextension_mymodule/adminhtml_observer</class>
                        <method>saveProductArticuloData</method>
                    </myextension_mymodule_articulo_product>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <myextension_mymodule_articulo_category>
                        <type>singleton</type>
                        <class>myextension_mymodule/adminhtml_observer</class>
                        <method>saveCategoryArticuloData</method>
                    </myextension_mymodule_articulo_category>
                </observers>
            </catalog_category_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MyExtension_Mymodule before="Mage_Adminhtml">MyExtension_Mymodule_Adminhtml</MyExtension_Mymodule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <myextension_mymodule>
                <use>standard</use>
                <args>
                    <module>MyExtension_Mymodule</module>
                    <frontName>myextension_mymodule</frontName>
                </args>
            </myextension_mymodule>
        </routers>
        <layout>
            <updates>
                <myextension_mymodule>
                    <file>myextension_mymodule.xml</file>
                </myextension_mymodule>
            </updates>
        </layout>
        <translate>
            <modules>
                <MyExtension_Mymodule>
                    <files>
                        <default>MyExtension_Mymodule.csv</default>
                    </files>
                </MyExtension_Mymodule>
            </modules>
        </translate>
    </frontend>
    <default>
        <myextension_mymodule>
            <articulo>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>Articulos</meta_title>
                <tree>1</tree>
                <recursion>0</recursion>
            </articulo>
        </myextension_mymodule>
    </default>
</config>
